<footer class="footer">
      <div class="footer__container container">
        <ul class="footer__list">
          <li>
            <a href="#" class="footer__link">Facebook</a>
          </li>
          <li>
            <a href="#" class="footer__link">Twiiter</a>
          </li>
          <li>
            <a href="#" class="footer__link">Google+</a>
          </li>
          <li>
            <a href="#" class="footer__link">LinkedIn</a>
          </li>
          <li>
            <a href="#" class="footer__link">Behance</a>
          </li>
          <li>
            <a href="#" class="footer__link">Dribble</a>
          </li>
          <li>
            <a href="#" class="footer__link">GitHub</a>
          </li>
        </ul>
        <p class="footer__copy">&copy; Cuda. All rights reserved.</p>
      </div>
      <p class="footer__by">
        Made with <span><i class="fas fa-heart"></i></span> by Davit Hunanyan
      </p>
</footer>