---
title: Blog
layout: 'base.njk'
---
<header class="header">
  <div class="header__container">
    <a class="header__logo">
      <img src="/img/logo.png" alt="Logo" />
    </a>
    <div class="header__menu menu">
      <button class="menu__icon">
        <span></span>
      </button>
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="/">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/services/">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
    <main>
       <section class="blog">
<div class="section container">
<h1 class="section-title">Recent articles</h1>
<ul role="list" class="articles__list flow">
        
        <li>
         <article class="snippet">
  <div class="snippet__image"><img src="/assets/blog/article-5.jpg" alt="This is a test" ></div><div>
  <h3 class="snippet__title"><a href="/blog/my-fifth-article/">My Fifth Article</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Jun 14, 2021</span></p>
  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
  <a href="/blog/my-fifth-article/" class="btn btn--primary">Continue Reading</a></div>
</article>
        </li>
        
        <li>
         <article class="snippet">
 <div class="snippet__image"> <img src="/assets/blog/article-4.jpg" alt="This is a test"></div><div>
  <h3 class="snippet__title"><a href="/blog/my-fourth-article/">My Fourth Article</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 31, 2021</span></p>
  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
  <a href="/blog/my-fourth-article/" class="btn btn--primary">Continue Reading</a></div>
</article>
        </li>
        
        <li>
         <article class="snippet">
  <div class="snippet__image"><img src="/assets/blog/article-3.jpg" alt="This is a test"></div><div>
  <h3 class="snippet__title"><a href="/blog/my-third-article/">My Third Article</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 27, 2021</span></p>
  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
  <a href="/blog/my-third-article/" class="btn btn--primary">Continue Reading</a></div>
</article>
        </li>
        
        <li>
         <article class="snippet">
  <div class="snippet__image"><img src="/assets/blog/article-2.jpg" alt="This is a test"></div><div>
  <h3 class="snippet__title"><a href="/blog/my-second-article/">My Second Article</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 14, 2021</span></p>
  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
  <a href="/blog/my-second-article/" class="btn btn--primary">Continue Reading</a></div>
</article>
        </li>
        
        <li>
         <article class="snippet">
  <div class="snippet__image"><img src="/assets/blog/article-1.jpg" alt="This is a test"></div><div>
  <h3 class="snippet__title"><a href="/blog/my-first-article/">My First Article</a></h3>
  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Apr 30, 2021</span></p>
  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?</p> 
  <a href="/blog/my-first-article/" class="btn btn--primary">Continue Reading</a></div>
</article>
        </li></ul>
  </div>
  </section>
    </main>
  