---
title: Services
layout: 'base.njk'
---
<header class="header">
  <div class="header__container">
    <a class="header__logo">
      <img src="/img/logo.png" alt="Logo" />
    </a>
    <div class="header__menu menu">
      <button class="menu__icon">
        <span></span>
      </button>
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="/">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="/services/">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <section class="services">
    <div class="services__container container">
      <div class="services__content content">
        <h2 class="services__title title title--white">Services we provide</h2>
        <span class="services__line line"></span>
        <p class="services__descr descr">
          We are working with both individuals and businesses from all over the
          globe to create awesome websites and applications.
        </p>
      </div>

      <div class="services__cards">
        <div class="services__card services__card--1">
          <div class="services__img">
            <img src="/img/icon1.png" alt="Flag" />
          </div>
          <h3 class="services__subtitle services__subtitle--red subtitle">
            Branding
          </h3>
          <p class="services__subdescr services__subdescr--red descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--2">
          <div class="services__img">
            <img src="/img/icon2.png" alt="Pencil" />
          </div>
          <h3 class="services__subtitle services__subtitle--yellow subtitle">
            Design
          </h3>
          <p class="services__subdescr services__subdescr--yellow descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--3">
          <div class="services__img">
            <img src="/img/icon3.png" alt="Settings" />
          </div>
          <h3 class="services__subtitle services__subtitle--dark-blue subtitle">
            Development
          </h3>
          <p class="services__subdescr services__subdescr--dark-blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--4">
          <div class="services__img">
            <img src="/img/icon4.png" alt="Rocket" />
          </div>
          <h3 class="services__subtitle services__subtitle--blue subtitle">
            Rocket science
          </h3>
          <p class="services__subdescr services__subdescr--blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>
      </div>

      <div class="services__cards">
        <div class="services__card services__card--1">
          <div class="services__img">
            <img src="/img/icon1.png" alt="Flag" />
          </div>
          <h3 class="services__subtitle services__subtitle--red subtitle">
            Branding
          </h3>
          <p class="services__subdescr services__subdescr--red descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--2">
          <div class="services__img">
            <img src="/img/icon2.png" alt="Pencil" />
          </div>
          <h3 class="services__subtitle services__subtitle--yellow subtitle">
            Design
          </h3>
          <p class="services__subdescr services__subdescr--yellow descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--3">
          <div class="services__img">
            <img src="/img/icon3.png" alt="Settings" />
          </div>
          <h3 class="services__subtitle services__subtitle--dark-blue subtitle">
            Development
          </h3>
          <p class="services__subdescr services__subdescr--dark-blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--4">
          <div class="services__img">
            <img src="/img/icon4.png" alt="Rocket" />
          </div>
          <h3 class="services__subtitle services__subtitle--blue subtitle">
            Rocket science
          </h3>
          <p class="services__subdescr services__subdescr--blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>
      </div>

      <div class="services__cards">
        <div class="services__card services__card--1">
          <div class="services__img">
            <img src="/img/icon1.png" alt="Flag" />
          </div>
          <h3 class="services__subtitle services__subtitle--red subtitle">
            Branding
          </h3>
          <p class="services__subdescr services__subdescr--red descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--2">
          <div class="services__img">
            <img src="/img/icon2.png" alt="Pencil" />
          </div>
          <h3 class="services__subtitle services__subtitle--yellow subtitle">
            Design
          </h3>
          <p class="services__subdescr services__subdescr--yellow descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--3">
          <div class="services__img">
            <img src="/img/icon3.png" alt="Settings" />
          </div>
          <h3 class="services__subtitle services__subtitle--dark-blue subtitle">
            Development
          </h3>
          <p class="services__subdescr services__subdescr--dark-blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>

        <div class="services__card services__card--4">
          <div class="services__img">
            <img src="/img/icon4.png" alt="Rocket" />
          </div>
          <h3 class="services__subtitle services__subtitle--blue subtitle">
            Rocket science
          </h3>
          <p class="services__subdescr services__subdescr--blue descr">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo esse
            quos odit blanditiis distinctio sapiente quia nostrum.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
